:root{
    font-family: "Indie Flower", serif;
    font-weight: 800;
    color: black;
}
@media (prefers-color-scheme: dark) {
    :root{
        font-family: "Indie Flower", serif;
        font-weight: 800;
        color: black;
    }
}
@media (prefers-color-scheme: dark) {
    :root{
        color: black;
    }
}
@media screen and (min-width: 600px) {
    #Name{
        position: relative;
        top: 80px;
    }
}
@keyframes grow{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes grow-horizontal{
    0%{
        transform: scaleX(0);
        opacity: 0;
    }
    100%{
        transform: scaleX(1);
        opacity: 1;
    }
}
@keyframes move-out{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(1000px);
        opacity: 1;
    }
}
body{
    background: url("./assets/paper-texture-1.jpg"), rgb(0,0,0);
        background-size: 200%;
    background-position: 55%;
    background-color: rgb(90, 90, 90);
}
#root{
    /* background: url("./assets/paper-texture-1.jpg"), rgb(0,0,0); */
    background-size: 200%;
    background-position: 55%;
    height: 100vh;
    max-width: 600px;
    margin-inline:auto;
    position: relative;
}
main{
    height: 70%;
    width: 85%;
    /* border: 3px solid blue; */
    margin-inline: auto;
}
h1{
    width: fit-content;
    margin-inline: auto;
}
p{
    width:fit-content;
    margin: auto;
}
#Design{
    height: 85%;
    width: 100%;
    overflow: hidden;
    /* position: relative; */
}
#Design img[src='']{
    display: none;
}
#Design{
    max-width: 750px;
}
#Name{
    height: 15%;
    font-family: "Indie Flower", serif;
    font-weight: 800;
    font-size: 50px;
}
#Options{
    font-size: 20px;
    padding-top: 50px;
    margin-inline: auto;
    max-width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
    overflow: hidden;
    position: relative;
    /* height: 120px; */
}
#Options img{
    max-width: 100px;
}
#random{
    height: 80px;
    width: 80px;
    top: 15px;
    left: 15px;
    position: absolute;
    cursor: pointer;
}
.icon img{
    width: 80px;
}
#random:hover:after{
    content: "     Random";
    font-size: 25px;
    color: black;
    background: url("./sticky-amarillo.png");
    background-position: 0%;
    background-size: 100%;
    position: absolute;
    width: 180px;
    height: 40px;
    left: 80px;
    top: 30px;
    display: block;
    z-index: 1000;
    opacity: 0;
    rotate: -3deg;
    animation: grow-horizontal .1s .7s 1 ease-out forwards;
    transform-origin: left center;
}
#share{
    position: absolute;
    top: 15px;
    right: 15px;
}
#share img{
    width: 80px;
}
#share:hover:after{
    content: "    Compartir!";
    font-size: 25px;
    color: black;
    background: url("./sticky-celeste.png");
    background-position: 0%;
    background-size: 100%;
    position: absolute;
    width: 180px;
    height: 40px;
    right: 80px;
    top: 25px;
    display: block;
    z-index: 1000;
    opacity: 0;
    animation: grow-horizontal .1s .7s 1 ease-out forwards;
    transform-origin: right center;
}
#close{
    position: absolute;
    top: 130px;
    right: 25px;
    width: 50px;
    height: auto;
    scale: none;
    opacity: 0;
    animation: grow .2s .5s 1 ease-in-out forwards;
}
#close img{
    margin-top: 20px;
    margin-bottom: 0;
    width: 40px;
    height: 40px;
}
.showcase{
    transition: all 0.05s ease-in;
    animation: grow 0.3s 0s ease-in;
    transform-origin: bottom;

}
.alerta-copiado{
    position: absolute;
    font-size: 35px;
    background: url("./sticky-celeste.png") no-repeat;
    background-position: 0%;
    background-size: 100%;
    width: 300px;
    height: 55px;
    padding: 15px 15px 15px 0px;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
    animation: move-out .4s 2s 1 ease-in forwards;
    margin-inline: auto;
}
.miniature img{
    display: block;
    margin: auto;
}
.miniature, #random, #share{
    cursor: pointer;
    transition: all 0.05s ease-in;
}
.miniature:hover, #random:hover, #share:hover, #close:hover{
    scale: 1.2;
    transition: all 0.05s ease-in;
    cursor: pointer;
}
.miniature.preview:hover{
    scale: 2;
}
.modal-viewer{
    width: 90%;
    aspect-ratio: 1;
    position: absolute;
    top: 15%;
    left: 5%;
    height: 50%;
    padding: 60px 20px 20px 0px;
    background: url("/assets/paper-texture-3.png");
    background-attachment: scroll;
    background-size: 120%;
    background-position: 50% 11%;
    overflow-x: visible;
    overflow-y: scroll;
    scrollbar-color: black transparent;
    scrollbar-color: black;
    scrollbar-width: thick;
    margin-inline: auto;
    z-index: 10;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    animation: grow .5s 0s 1 ease-in-out;
}
.modal-viewer .none>img{
    scale: none !important;
    translate: none !important;
    height: 80px;
    width: 80px;
    margin-left: 30px;
}
.modal-viewer:has(:hover) div:not(:hover) > img{
    transition: all .2s;
    filter: grayscale(60%);
}
.none{
    position: relative;
    overflow: visible !important;
}
.none:hover{
    cursor: pointer;
}
.none:hover::after{
    content: "  Ninguno";
    font-size: 25px;
    color: black;
    background: url("/assets/sticky-rojo.png") no-repeat;
    background-position: 0%;
    background-size: 100%;
    position: absolute;
    width: 120px;
    height: 40px;
    left: 10px;
    top: 80px;
    display: block;
    z-index: 1000;
    opacity: 0;
    rotate: -3deg;
    animation: grow-horizontal .1s .7s 1 ease-out forwards;
    transform-origin: left center;
}
.modal-viewer > div{
    height: fit-content;
    width: fit-content;
}
.modal-viewer > div:hover > img:not(:first-child){
    transform: translateX(-5%);

}
.preview-tooltip{
    visibility: hidden;
    position: absolute;
    bottom:0;
    left: 50%;
    transform: translateX(-50%);
    min-width: 100px;
    font-size: 10px;
    margin: auto;
    width: fit-content;
    background: url("assets/sticky-amarillo.png");
    background-size: 85%;
    background-repeat: no-repeat;
    background-position: 40% 50%;
}
div:hover > .preview-tooltip{
    visibility: visible;
}
.view{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.modal-viewer > div{
    overflow: hidden;
}
.modal-viewer img{
    width: 120px;
    aspect-ratio: 1;
}
#Lentes, #Otro1, #Otro2{
    img:not(#close){
        scale: 1.7;
        translate: 15px -50px;
        transform-origin: center;
    }
}

/*ACCESORIOS COORDENADAS*/
.preview-tooltip{z-index: 21;}
#close{z-index: 20;}
.modal-viewer{z-index: 15;}
#Name{z-index: 11;}
#Options{z-index: 10;}
.alerta-copiado{z-index: 7;}
#share{z-index: 6;}
#random{z-index: 6;}
#mainGorro{z-index: 5;}
#mainOtro1{z-index: 4;}
#mainLentes{z-index: 3;}
#mainOtro2{z-index: 2;}
#mainPersonaje{z-index: 1;}

/*ACCESORIOS COORDENADAS*/
#mainGorro, #mainLentes, #mainOtro1, #mainOtro2, #mainPersonaje{
    position: absolute;
    width: 130%;
    left: -15%;
    top: -8%;
}

/*SKULLIVER*/

.Skulliver #mainGorro{
    left: -14.5%;
    top: -8.5%;
}
.Skulliver #mainLentes{
    left: -14.2%;
    top: -9.2%;
}
.Skulliver #mainOtro1, .Skulliver #mainOtro2{
    left: -14.2%;
    top: -10%;
}

/*TERRY*/

.Terry #mainGorro{
    left: -14.5%;
    top: -8%;
}
.Terry #mainGorro:is(.cresta){
    top: -5%;
}
.Terry #mainGorro:is(.fez){
    left: -15%;
    top: -6.3%;
}
.Terry #mainGorro:is(.cuernos){
    left: -13%;
    top: -9%;
}
.Terry #mainGorro:is(.cumple){
    left: -15%;
    top: -5.5%;
}
.Terry #mainLentes{
    left: -15.2%;
    top: -10%;
}
.Terry #mainOtro1, .Terry #mainOtro2{
    left: -16%;
    top: -9.8%;
}
.Terry #mainOtro1:is(.monio), .Terry #mainOtro1:is(.mostacho){
    top: -11%;
}
.Terry #mainOtro2:is(.monio), .Terry #mainOtro2:is(.mostacho){
    top: -11%;
}
.Terry #mainOtro1:is(.nariz), .Terry #mainOtro2:is(.nariz){
    left: -14%;
    top:-12%;
}

/*ALLEN*/

.Allen #mainGorro{
    left: -14.5%;
    top: -8%;
}
.Allen #mainGorro:is(.cresta){
    left: -17.3%;
    top: -5.7%;
}
.Allen #mainGorro:is(.pirata){
    left: -17.3%;
    top: -7%;
}
.Allen #mainGorro:is(.unicuerno){
    left: -17%;
    top: -8%;
}
.Allen #mainGorro:is(.cuernos){
    left: -15.5%;
}
.Allen #mainGorro:is(.cumple){
    left: -16.5%;
    top: -6%;
}
.Allen #mainLentes{
    left: -17.5%;
    top: -7%;
}
.Allen #mainOtro1, .Allen #mainOtro2{
    left: -17%;
    top: -11%;
}
.Allen #mainOtro1:is(.nariz), .Allen #mainOtro2:is(.nariz){
    top: -8.5%;
}
.Allen #mainOtro1:is(.labios), .Allen #mainOtro2:is(.labios){
    top: -10%;
}

/*BUMI*/

.Bumi #mainGorro{
    top: -9%;
    left: -14%;
}
.Bumi #mainGorro:is(.cresta){
    left: -16%;
    top: -5.5%;
}
.Bumi #mainGorro:is(.cuernos){
    left: -12.5%;
}
.Bumi #mainGorro:is(.cumple){
    left: -16%;
    top: -6%;
}
.Bumi #mainLentes{
    top: -9.5%;
}
.Bumi #mainOtro1, .Bumi #mainOtro2{
    top:-10%;
}
.Bumi #mainOtro1:is(.labios), .Bumi #mainOtro2:is(.labios){
    left:-15.5%;
    top:-9.3%;
}
.Bumi #mainOtro1:is(.chiva), #mainOtro1:is(.monio){
    top:-11%;
    z-index: 0;
}
.Bumi #mainOtro2:is(.chiva), #mainOtro2:is(.monio){
    top:-11%;
    z-index: 0;
}

/*CATHERINE*/

.Catherine #mainGorro{
    left: -16%;
}
.Catherine #mainGorro:is(.baseball){
    top: -9%;
}
.Catherine #mainGorro:is(.cresta){
    left: -16%;
    top: -3%;
}
.Catherine #mainGorro:is(.cuernos){
    left: -14%;
    top: -7.5%;
}
.Catherine #mainGorro:is(.cumple){
    left: -17.5%;
    top: -4%;
}
.Catherine #mainLentes{
    top: -9%;
}
.Catherine #mainOtro1{
    top: -11%;
}
.Catherine #mainOtro2{
    top: -11%;
}
.Catherine #mainOtro1:is(.chiva), .Catherine #mainOtro2:is(.chiva){
    top: -11.5%;
}

/*DON*/

.Don #mainGorro{
    left: -16%;
}
.Don #mainGorro:is(.unicuerno){
    left: -14%;
}
.Don #mainGorro:is(.fez){
    left: -17%;
    top: -6%;
}
.Don #mainGorro:is(.cuernos){
    left: -14%;
}
.Don #mainGorro:is(.cresta){
    top: -3.5%;
}
.Don #mainGorro:is(.cumple){
    left: -18%;
    top: -4%;
}
.Don #mainLentes{
    left: -15%;
    top: -9%;
}
.Don #mainOtro1, .Don #mainOtro2{
    left: -15.6%;
    top: -7.5%;
}
.Don #mainOtro1:is(.monio), .Don #mainOtro2:is(.monio){
    top: -8%;
}
.Don #mainOtro1:is(.nariz), .Don #mainOtro2:is(.nariz){
    top: -9%;
}

/*HORACIO*/

.Horacio #mainLentes{
    left: -12.3%;
    top: -8.5%;
}
.Horacio #mainGorro{
    top: -6.5%;
}
.Horacio #mainGorro:is(.cresta){
    left: -13%;
    top: -1.2%;
    rotate: -4deg;
}
.Horacio #mainGorro:is(.cumple){
    left: -16%;
    top: -3.5%;
}
.Horacio #mainGorro:is(.cuernos){
    left: -12%;
}
.Horacio #mainGorro:is(.unicuerno){
    left: -12%;
}
.Horacio #mainOtro1, .Horacio #mainOtro2{
    left: -13%;
    top: -11%;
}
.Horacio #mainOtro1:is(.labios), .Horacio #mainOtro2:is(.labios){
    top: -13%;
}
.Horacio #mainOtro1:is(.nariz), .Horacio #mainOtro2:is(.nariz){
    left: -11%;
    top: -8.5%;
}

/*ROBBERTO*/

.Robberto #mainGorro{
    left: -12%;
    top: -10%;
}
.Robberto #mainGorro:is(.cresta){
    left: -14%;
    top: -9.5%;
}
.Robberto #mainGorro:is(.unicuerno){
    left: -14.5%;
    top: -8%;
}
.Robberto #mainLentes{
    top: -9%;
}
.Robberto #mainOtro1, .Robberto #mainOtro2{
    left: -15%;
    top: -12%;
}
.Robberto #mainOtro1:is(.labios), .Robberto #mainOtro2:is(.labios){
    top: -13.5%;
}
.Robberto #mainOtro1:is(.nariz), .Robberto #mainOtro2:is(.nariz){
    left: -14.5%;
    top: -10%;
}
.Robberto #mainOtro1:is(.monio), .Robberto #mainOtro2:is(.monio){
    left: -13.5%;
    top: -9%;
}
.Robberto #mainOtro1:is(.chiva), .Robberto #mainOtro2:is(.chiva){
    left: -15.2%;
    top: -8.2%;
}

/*JACKSON*/

.Jackson #mainGorro{
    left: -16.2%;
}
.Jackson #mainGorro:is(.baseball){
    left: -16.2%;
    top: -9.5%;
}
.Jackson #mainGorro:is(.cresta){
    left: -15.2%;
    top: -4%;
}
.Jackson #mainGorro:is(.unicuerno){
    left: -14%;
    top: -7.5%;
}
.Jackson #mainGorro:is(.cuernos){
    left: -12.5%;
}
.Jackson #mainLentes{
    left: -13.5%;
    top: -10%;
}
.Jackson #mainOtro1, .Jackson #mainOtro2{
    left: -13.5%;
    top: -14%;
}
.Jackson #mainOtro1:is(.nariz), .Jackson #mainOtro2:is(.nariz){
    left: -12.5%;
    top: -11.5%;
}
.Jackson #mainOtro1:is(.chiva), .Jackson #mainOtro2:is(.chiva){
    left: -14.5%;
    top: -13%;
}
.Jackson #mainOtro1:is(.monio), .Jackson #mainOtro2:is(.monio){
    left: -15.5%;
}